.btn-group.btn-group-justified(data-toggle='buttons')
  .btn-group(role='group', ng-repeat="serien in FMSerien")
    button.btn.btn-default.stay(ng-click="update($index)") {{serien.Titel}}

div(ng-show="secondLevelButtons")    
  .btn-group.btn-group-justified(data-toggle='buttons')
    .btn-group(role='group', ng-click="update(-1)")
      button.btn.btn-default.stay.enabled Informationen
    .btn-group(role='group', ng-click="update(-2)")
      button.btn.btn-default.stay Rennergebnisse
    .btn-group(role='group', ng-click="update(-3)")
      button.btn.btn-default.stay WM Stand

div.serieInformation(ng-controller='details-ctrl')
  div(ng-show="Informationen")
    .row
      .col-md-6
        ul.list-group
          li.list-group-item
            p
              b Titel
              br 
              ul
                li {{ Titel }}
          li.list-group-item
            p
              b Läufe Insgesamt
              br 
              ul
                li {{ Laeufe }}
          li.list-group-item
            p
              b Hinweise
              br 
              ul
                li(ng-repeat="Hinweise in Hinweise track by $index") {{ Hinweise }}
          li.list-group-item
            p
              b Fahrzeuge
              br 
              ul
                li(ng-repeat="Fahrzeuge in Fahrzeuge track by $index") {{ Fahrzeuge }}
          li.list-group-item
            p
              b Setup
              br 
              ul
                li(ng-repeat="Setup in Setup track by $index") {{ Setup }}
          li.list-group-item
            p
              b Regeln
              br 
              ul
                li(ng-repeat="Regeln in Regeln track by $index") {{ Regeln }}
          li.list-group-item
            p
              b Punktesystem
              br 
              ul
                li {{ Punktesystem }}
      .col-md-6
        ul.list-group
          li.list-group-item
            p
              b Warm-Up
              br 
              ul
                li(ng-repeat="wa in wa track by $index") {{ wa }}
          li.list-group-item
            p
              b Qualifying 1
              br 
              ul
                li(ng-repeat="q1 in q1 track by $index") {{ q1 }}
          li.list-group-item
            p
              b Lauf 1
              br 
              ul
                li(ng-repeat="r1 in r1 track by $index") {{ r1 }}
          li.list-group-item
            p
              b Qualifying 2
              br 
              ul
                li(ng-repeat="q2 in q2 track by $index") {{ q2 }}
          li.list-group-item
            p
              b Lauf 2
              br 
              ul
                li(ng-repeat="r2 in r2 track by $index") {{ r2 }}
  div(ng-show="Results")
    .btn-group.btn-group-justified(data-toggle='buttons')
      .btn-group(role='group', ng-repeat="button in buttonLaeufe")
        button.btn.btn-default.stay(ng-click="selectLauf(button)") {{button}}
    div(ng-show="selectedResults")
      .row
        .col-md-6
          div(ng-show="race1")
            h2 Lauf 1
            table.table.table-striped
              thead
                tr
                  th POS
                  th Fahrer
                  th Klasse
                  th Auto
                  th Beste
                  th Gesamt
              tbody(ng-repeat="results in resultR1 track by $index")
                tr
                  td {{$index + 1}}
                  td {{results[0]}}
                  td {{results[1]}}
                  td {{results[2]}}
                  td {{results[3]}}
                  td {{results[4]}}
          div(ng-show="qualy1")
            h2 Qualy 1
            table.table.table-striped
              thead
                tr
                  th POS
                  th Fahrer
                  th Klasse
                  th Auto
                  th Beste
                  th Gesamt
              tbody(ng-repeat="results in resultR1 track by $index")
                tr
                  td {{$index + 1}}
                  td {{results[0]}}
                  td {{results[1]}}
                  td {{results[2]}}
                  td {{results[3]}}
                  td {{results[5]}}
        .col-md-6
          div(ng-show="race2")
            h2 Lauf 2
            table.table.table-striped
              thead
                tr
                  th POS
                  th Fahrer
                  th Klasse
                  th Auto
                  th Beste
                  th Gesamt
              tbody(ng-repeat="results in resultR1 track by $index")
                tr
                  td {{$index + 1}}
                  td {{results[0]}}
                  td {{results[1]}}
                  td {{results[2]}}
                  td {{results[3]}}
                  td {{results[4]}}
          div(ng-show="qualy2")
            h2 Qualy 1
            table.table.table-striped
              thead
                tr
                  th POS
                  th Fahrer
                  th Klasse
                  th Auto
                  th Beste
                  th Gesamt
              tbody(ng-repeat="results in resultR1 track by $index")
                tr
                  td {{$index + 1}}
                  td {{results[0]}}
                  td {{results[1]}}
                  td {{results[2]}}
                  td {{results[3]}}
                  td {{results[5]}}
          
  div(ng-show="Standings")
    p Standings zu {{ Titel }}
