.btn-group.btn-group-justified(data-toggle='buttons')
  .btn-group(role='group')
    button.btn.btn-default.stay Serie 1
  .btn-group(role='group')
    button.btn.btn-default.stay Serie 2
  .btn-group(role='group')
    button.btn.btn-default.stay Serie 3
      
.btn-group.btn-group-justified(data-toggle='buttons')
  .btn-group(role='group')
    button.btn.btn-default.stay Informationen
  .btn-group(role='group')
    button.btn.btn-default.stay Rennergebnisse
  .btn-group(role='group')
    button.btn.btn-default.stay WM Stand
