extends layout

block body
  script(type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
  script(type='text/javascript' src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js")
  div(ng-app='gsr' ng-controller='page-ctrl')  
    #wrapper
      //Sidebar
      #sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
            a(href="#newsView") GSR
          li 
            a.navLink(href="#newsView") News
          li 
            a.navLink(href="#fmView") Forza Motorsport 
          li 
            a.navLink(href="#pcView") Project Cars
          li
            a.navLink(href="#statView") Statistiken
          li
            a.navLink(href="#contView") Kontakt
      // Content
      #page-content-wrapper
        .container-fluid
          #content
            div(ng-view='', ng-controller='radios-ctrl')
    
    script(type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js')
    script(type='text/javascript' src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(type='text/javascript' src='/javascripts/gsr.js')
    script(type='text/javascript' src='/javascripts/controller.js')
